form div {
    margin: 10px 0px;
}

.form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.form {
    padding: 20px;
    border-radius: 10px;
}


.form button {
    background-color: #ffffff;
    color: #336699;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
